.hashtag-list {
  display: flex;
  padding: 0px 5px;
  justify-content: space-around;
}

.hashtag-list span {
  font-size: 23px;
  padding: 15px 0px;
  margin: 0px 15px;
}

.hashtag-list span:first-child {
  font-weight: 600;
  border-bottom: 3px solid #1c3264;
}

.covid {
  background-color: #2d4e9e;
  width: 100%;
  height: 250px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  box-sizing: border-box;
  padding-top: 45px;
  align-items: center;
  flex-direction: column;
}

.covid__column:first-child {
  display: flex;
  align-items: center;
}

.covid__alert {
  display: flex;
  font-size: 14px;
  background-color: #eb483f;
  padding: 3px 6px;
  border-radius: 7px;
  margin-left: 6px;
}

.covid__column:nth-child(2) {
  font-size: 30px;
  margin: 15px 0px;
  font-weight: 600;
}

.covid__column:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  padding: 18px;
  border-radius: 25px;
}

.covid__column:last-child {
  opacity: 0.5;
  font-size: 15px;
  margin-top: 25px;
}

.covid-confirmed {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  position: relative;
  top: -20px;
  background-color: white;
}

.covid-confirmed__korea {
  padding: 13px 0px;
  display: flex;
  justify-content: space-around;
}

.covid-confirmed__column {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covid-confirmed__number:first-child {
  color: var(--gray);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin: 13px 0px;
}

.covid-confirmed__number:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.covid-confirmed__number i {
  margin-right: 5px;
}

.number__red {
  color: #eb483f;
}

.number__blue {
  color: #439ef6;
}

.number__gray {
  color: var(--gray);
}

.covid-confirmed__seoul {
  background-color: #f5f6f8;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 70px;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.covid-seoul__column:first-child,
.covid-seoul__column span:first-child {
  font-weight: 600;
}

.covid-seoul__column span:first-child {
  margin: 0px 3px;
}

.covid-seoul__column span:last-child {
  font-size: 13px;
  margin-left: 3px;
}

.covid-seoul__dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--gray);
}
