.list {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.list__title {
  color: var(--gray);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  font-size: 14px;
}

.list .user-profile__photo {
  background-color: #ef6d73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile__photo i {
  color: white;
  font-size: 23px;
}

.user-profile {
  margin-bottom: 15px;
}

@keyframes hideSplashScreen {
  from {
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen,
#please-rotate,
#screen-size {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  color: #3c1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  position: absolute;
  top: 0px;
}

#splash-screen {
  font-size: 80px;
  animation: hideSplashScreen 0.7s ease-in forwards;
  animation-delay: 0.7s;
}

#please-rotate,
#screen-size {
  visibility: hidden;
}

@media (min-width: 800px) and (max-width: 1000px) {
  #screen-size {
    visibility: visible;
  }
}

@media (orientation: landscape) {
  #please-rotate {
    visibility: visible;
  }
}
